PYTHONPATH=D:\Users\chenmengyue\ppt_api


# LLM
LLM_API_BASE_URL=
MODEL=
LLM_API_KEY=


# 生成图片配置
IMAGE_PROVIDER=pexels
IMAGE_URL=https://api.pexels.com/v1/search
IMAGE_API_KEY=
EXTENDED_REASONING=false
TOOL_CALLS=false


APP_DATA_DIRECTORY=/app_data

